Applications/src/jbiasa/WSCat-Processes/WSCatService.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.wscat.soen487/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.wscat.soen487/" name="WSCatService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.wscat.soen487/" schemaLocation="http://localhost:9090/WSCat-Services/WSCatService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="submitWSDLToAnalyze">
        <part name="parameters" element="tns:submitWSDLToAnalyze"/>
    </message>
    <message name="submitWSDLToAnalyzeResponse">
        <part name="parameters" element="tns:submitWSDLToAnalyzeResponse"/>
    </message>
    <message name="IOException">
        <part name="fault" element="tns:IOException"/>
    </message>
    <message name="InterruptedException">
        <part name="fault" element="tns:InterruptedException"/>
    </message>
    <message name="trainOnURI">
        <part name="parameters" element="tns:trainOnURI"/>
    </message>
    <message name="trainOnURIResponse">
        <part name="parameters" element="tns:trainOnURIResponse"/>
    </message>
    <message name="ParserConfigurationException">
        <part name="fault" element="tns:ParserConfigurationException"/>
    </message>
    <message name="SAXException">
        <part name="fault" element="tns:SAXException"/>
    </message>
    <message name="submitWSDLRepo">
        <part name="parameters" element="tns:submitWSDLRepo"/>
    </message>
    <message name="submitWSDLRepoResponse">
        <part name="parameters" element="tns:submitWSDLRepoResponse"/>
    </message>
    <message name="trainOnWSDL">
        <part name="parameters" element="tns:trainOnWSDL"/>
    </message>
    <message name="trainOnWSDLResponse">
        <part name="parameters" element="tns:trainOnWSDLResponse"/>
    </message>
    <portType name="WSCat">
        <operation name="submitWSDLToAnalyze">
            <input wsam:Action="http://service.wscat.soen487/WSCat/submitWSDLToAnalyzeRequest" message="tns:submitWSDLToAnalyze"/>
            <output wsam:Action="http://service.wscat.soen487/WSCat/submitWSDLToAnalyzeResponse" message="tns:submitWSDLToAnalyzeResponse"/>
            <fault message="tns:IOException" name="IOException" wsam:Action="http://service.wscat.soen487/WSCat/submitWSDLToAnalyze/Fault/IOException"/>
            <fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://service.wscat.soen487/WSCat/submitWSDLToAnalyze/Fault/InterruptedException"/>
        </operation>
        <operation name="trainOnURI">
            <input wsam:Action="http://service.wscat.soen487/WSCat/trainOnURIRequest" message="tns:trainOnURI"/>
            <output wsam:Action="http://service.wscat.soen487/WSCat/trainOnURIResponse" message="tns:trainOnURIResponse"/>
            <fault message="tns:ParserConfigurationException" name="ParserConfigurationException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnURI/Fault/ParserConfigurationException"/>
            <fault message="tns:SAXException" name="SAXException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnURI/Fault/SAXException"/>
            <fault message="tns:IOException" name="IOException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnURI/Fault/IOException"/>
            <fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnURI/Fault/InterruptedException"/>
        </operation>
        <operation name="submitWSDLRepo">
            <input wsam:Action="http://service.wscat.soen487/WSCat/submitWSDLRepoRequest" message="tns:submitWSDLRepo"/>
            <output wsam:Action="http://service.wscat.soen487/WSCat/submitWSDLRepoResponse" message="tns:submitWSDLRepoResponse"/>
            <fault message="tns:IOException" name="IOException" wsam:Action="http://service.wscat.soen487/WSCat/submitWSDLRepo/Fault/IOException"/>
            <fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://service.wscat.soen487/WSCat/submitWSDLRepo/Fault/InterruptedException"/>
        </operation>
        <operation name="trainOnWSDL">
            <input wsam:Action="http://service.wscat.soen487/WSCat/trainOnWSDLRequest" message="tns:trainOnWSDL"/>
            <output wsam:Action="http://service.wscat.soen487/WSCat/trainOnWSDLResponse" message="tns:trainOnWSDLResponse"/>
            <fault message="tns:ParserConfigurationException" name="ParserConfigurationException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnWSDL/Fault/ParserConfigurationException"/>
            <fault message="tns:SAXException" name="SAXException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnWSDL/Fault/SAXException"/>
            <fault message="tns:IOException" name="IOException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnWSDL/Fault/IOException"/>
            <fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnWSDL/Fault/InterruptedException"/>
        </operation>
    </portType>
    <binding name="WSCatPortBinding" type="tns:WSCat">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="submitWSDLToAnalyze">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
            <fault name="InterruptedException">
                <soap:fault name="InterruptedException" use="literal"/>
            </fault>
        </operation>
        <operation name="trainOnURI">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ParserConfigurationException">
                <soap:fault name="ParserConfigurationException" use="literal"/>
            </fault>
            <fault name="SAXException">
                <soap:fault name="SAXException" use="literal"/>
            </fault>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
            <fault name="InterruptedException">
                <soap:fault name="InterruptedException" use="literal"/>
            </fault>
        </operation>
        <operation name="submitWSDLRepo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
            <fault name="InterruptedException">
                <soap:fault name="InterruptedException" use="literal"/>
            </fault>
        </operation>
        <operation name="trainOnWSDL">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ParserConfigurationException">
                <soap:fault name="ParserConfigurationException" use="literal"/>
            </fault>
            <fault name="SAXException">
                <soap:fault name="SAXException" use="literal"/>
            </fault>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
            <fault name="InterruptedException">
                <soap:fault name="InterruptedException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="WSCatService">
        <port name="WSCatPort" binding="tns:WSCatPortBinding">
            <soap:address location="http://localhost:9090/WSCat-Services/WSCatService"/>
        </port>
    </service>
</definitions>