Processes/src/WADLServiceWrapper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WADLServiceWrapper" targetNamespace="http://j2ee.netbeans.org/wsdl/Processes/src/WADLServiceWrapper"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/Processes/src/WADLServiceWrapper" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns2="http://service.wscat.soen487/">
    <import location="WADLService.wsdl" namespace="http://service.wscat.soen487/"/>
    <types/>
    <message name="InitializeRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="InitializeResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="AnalyzeRequest">
        <part name="file" type="xsd:string"/>
        <part name="id" type="xsd:integer"/>
    </message>
    <message name="AnalyzeResponse">
        <part name="category" type="xsd:string"/>
        <part name="id" type="xsd:integer"/>
    </message>
    <portType name="Invoke">
        <operation name="Initialize">
            <input name="input1" message="tns:InitializeRequest"/>
        </operation>
        <operation name="Analyze">
            <input name="input2" message="tns:AnalyzeRequest"/>
        </operation>
    </portType>
    <portType name="Receive">
        <operation name="Initialize">
            <input name="input1" message="tns:InitializeResponse"/>
        </operation>
        <operation name="Analyze">
            <input name="input2" message="tns:AnalyzeResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="Invoke">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="WADLInvoke" portType="tns:Invoke"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="Receive">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="WADLReceive" portType="tns:Receive"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="Synchronous">
        <plnk:role name="role1" portType="ns2:WSCat"/>
    </plnk:partnerLinkType>
</definitions>
