Processes/src/WADLService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://service.wscat.soen487/" name="WSCatService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://service.wscat.soen487/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.wscat.soen487/" schemaLocation="RESTServiceSchema.xsd"/>
    </xsd:schema>
  </types>
  <message name="getType">
    <part name="parameters" element="tns:getType"/>
  </message>
  <message name="getTypeResponse">
    <part name="parameters" element="tns:getTypeResponse"/>
  </message>
  <message name="isInitialized">
    <part name="parameters" element="tns:isInitialized"/>
  </message>
  <message name="isInitializedResponse">
    <part name="parameters" element="tns:isInitializedResponse"/>
  </message>
  <message name="generateTrainSet">
    <part name="parameters" element="tns:generateTrainSet"/>
  </message>
  <message name="generateTrainSetResponse">
    <part name="parameters" element="tns:generateTrainSetResponse"/>
  </message>
  <message name="analyzeFile">
    <part name="parameters" element="tns:analyzeFile"/>
  </message>
  <message name="analyzeFileResponse">
    <part name="parameters" element="tns:analyzeFileResponse"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException"/>
  </message>
  <message name="trainOnFile">
    <part name="parameters" element="tns:trainOnFile"/>
  </message>
  <message name="trainOnFileResponse">
    <part name="parameters" element="tns:trainOnFileResponse"/>
  </message>
  <message name="ParserConfigurationException">
    <part name="fault" element="tns:ParserConfigurationException"/>
  </message>
  <message name="SAXException">
    <part name="fault" element="tns:SAXException"/>
  </message>
  <portType name="WSCat">
    <operation name="getType">
      <input wsam:Action="http://service.wscat.soen487/WSCat/getTypeRequest" message="tns:getType"/>
      <output wsam:Action="http://service.wscat.soen487/WSCat/getTypeResponse" message="tns:getTypeResponse"/>
    </operation>
    <operation name="isInitialized">
      <input wsam:Action="http://service.wscat.soen487/WSCat/isInitializedRequest" message="tns:isInitialized"/>
      <output wsam:Action="http://service.wscat.soen487/WSCat/isInitializedResponse" message="tns:isInitializedResponse"/>
    </operation>
    <operation name="generateTrainSet">
      <input wsam:Action="http://service.wscat.soen487/WSCat/generateTrainSetRequest" message="tns:generateTrainSet"/>
      <output wsam:Action="http://service.wscat.soen487/WSCat/generateTrainSetResponse" message="tns:generateTrainSetResponse"/>
    </operation>
    <operation name="analyzeFile">
      <input wsam:Action="http://service.wscat.soen487/WSCat/analyzeFileRequest" message="tns:analyzeFile"/>
      <output wsam:Action="http://service.wscat.soen487/WSCat/analyzeFileResponse" message="tns:analyzeFileResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://service.wscat.soen487/WSCat/analyzeFile/Fault/IOException"/>
      <fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://service.wscat.soen487/WSCat/analyzeFile/Fault/InterruptedException"/>
    </operation>
    <operation name="trainOnFile">
      <input wsam:Action="http://service.wscat.soen487/WSCat/trainOnFileRequest" message="tns:trainOnFile"/>
      <output wsam:Action="http://service.wscat.soen487/WSCat/trainOnFileResponse" message="tns:trainOnFileResponse"/>
      <fault message="tns:ParserConfigurationException" name="ParserConfigurationException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnFile/Fault/ParserConfigurationException"/>
      <fault message="tns:SAXException" name="SAXException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnFile/Fault/SAXException"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnFile/Fault/IOException"/>
      <fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://service.wscat.soen487/WSCat/trainOnFile/Fault/InterruptedException"/>
    </operation>
  </portType>
  <binding name="WSCatPortBinding" type="tns:WSCat">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isInitialized">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="generateTrainSet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="analyzeFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
      <fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </fault>
    </operation>
    <operation name="trainOnFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ParserConfigurationException">
        <soap:fault name="ParserConfigurationException" use="literal"/>
      </fault>
      <fault name="SAXException">
        <soap:fault name="SAXException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
      <fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WSCatService">
    <port name="WSCatPort" binding="tns:WSCatPortBinding">
      <soap:address location="http://localhost:8080/WSCat-WADL/WSCatService"/>
    </port>
  </service>
</definitions>

