Processes/src/WSCatServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSCatServices" targetNamespace="http://j2ee.netbeans.org/wsdl/Processes/src/WSCatServices"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/Processes/src/WSCatServices" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types/>
    <message name="InitializeRequest"/>
    <message name="InitializeResponse"/>
    <message name="AnalyzeRequest">
        <part name="file" type="xsd:string"/>
        <part name="type" type="xsd:string"/>
    </message>
    <message name="AnalyzeResponse">
        <part name="category" type="xsd:string"/>
    </message>
    <portType name="WSCatServicesPortType">
        <operation name="Initialize">
            <input name="input1" message="tns:InitializeRequest"/>
            <output name="output1" message="tns:InitializeResponse"/>
        </operation>
        <operation name="Analyze">
            <input name="input2" message="tns:AnalyzeRequest"/>
            <output name="output2" message="tns:AnalyzeResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="WSCatServices">
        <plnk:role name="WSCatServicesPortTypeRole" portType="tns:WSCatServicesPortType"/>
    </plnk:partnerLinkType>
</definitions>
